<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href='/stylesheets/style.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <% include ../includes/scripts.ejs %>
  </head>
  <body>

    <h1><%= title %></h1>

    <br>
    <div class="form-group">
    <form id="edit-robot-form" action="<%= requestUrl %>" method="<%= requestMethod %>">
     
      <label class="text-center" for="name">Name</label>
      <input align="center" id="name" name="name" type="text" placeholder="Robot" value="<%= robot.name %>">
      <br>
      
      <label class="text-center" for="description">Description</label>
      <textarea align="center" rows="5" id="description" name="description" placeholder="Abilities"><%= robot.description %></textarea>
      <br>
      
      <label class="text-center" for="in-stock">Units in-stock</label>
      <input align="center" id="in-stock" name="in-stock" type="number" placeholder="0" value="<%= robot.in_stock %>">
      <br>

    </form>
  </div>
        <div align="center" class ="edit-sub">
      <button col text-center id="submit" type="submit" class="btn  btn-primary">Submit</button>
      </div>
        <br>
        
      <div align="center" class ="back-btn"><a href="/robots/">
      <button col text-center id="back" type="back" class="btn  btn-info">Back</button>
      </div>

    <script type="text/javascript">
     const requestMethod = "<%= requestMethod %>"
     const requestUrl = "<%= requestUrl %>"
     console.log("FORM WILL", requestMethod, requestUrl)
     var inputName = document.getElementById("name")
     var inputDescription = document.getElementById("description")
     var inputQuantityInStock = document.getElementById("in-stock")
     var submitButton = document.getElementById("submit")
     submitButton.addEventListener("click", submitForm, false)
        
        
     function submitForm(event) {
       event.preventDefault() // prevent duplicate form submission!
       const formData = {name: inputName.value, description: inputDescription.value, in_stock: inputQuantityInStock.value}
       console.log("SUBMITTING", formData)
       const requestOptions = {
         method: requestMethod,
         headers: {'Accept':'application/json', 'Content-Type':'application/json'},
         body: JSON.stringify(formData)
       }
       fetch(requestUrl, requestOptions).then(function(response) {
         if (response.ok) {
           response.json().then(function(json){
             window.location = '/robots'
           })
         } else {
           alert("Validity Error. Enter all values.")
         }
       }).catch(function(err){
         alert("Server Error. Try again shortly")
       })
     }
   </script>
 </body>
</html>